{% extends 'base_course.html' %}

{% block subtitle %}
  {# I18N: Title of the webpage. #}
  - {{ gettext('Teachers') }}
{% endblock subtitle %}

{% block assets %}
  {{ super() }}
  <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
{% endblock %}

{% block top_content %}
{% endblock %}

{% block main_content %}
<div id="gcb-main">
  <div class="gcb-article tab-content">
    <div class="gcb-aside">
      {% if teachers %}
        {% if teachers.add_action %}
          <form id='gcb-add-announcement' action='{{ teachers.add_action }}' method='POST'>
            <input type="hidden" name="xsrf_token" value="{{ teachers.add_xsrf_token }}">
            <button class="gcb-button gcb-button-action gcb-button-author" type="submit">Add Teacher</button>
          </form>
          <div style='clear: both; padding-top: 2px;' />
        {% endif %}
        {% if not teachers.children %}
          {# I18N: Shown if the list of teachers is empty. #}
          <p>{{ gettext('Currently, there are no teachers.') }}</p>
        {% endif %}
        {% for item in teachers.children %}
          <hr>
          <h4>
            {% if item.edit_action %}
              <a href="{{ item.edit_action }}" class="gcb-edit-resource-button icon material-icons">edit</a>
            {% endif %}

            <a name='{{ item.key }}'></a>
            {{ item.name }} &nbsp;&nbsp; {{ item.email | gcb_tags }} &nbsp;&nbsp; {{ item.school }} &nbsp;&nbsp; 

            <script>
              (function() {
                function pad(num) {
                  return (num < 10 ? '0' : '') + num;
                }
                var date = new Date({{ item.date }});
                var year = date.getFullYear();
                var month = pad(date.getMonth() + 1);
                var day = pad(date.getDate());
                var dateString = year + '-' + month + '-' + day;
                document.write(dateString);
              })();
            </script>

          </h4>
        {% endfor %}
      {% else %}
        {{ content }}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
