{% extends 'base_course.html' %}

{% if alerts %}
  <script>
    $(function() {
      cbShowAlert("{{ alerts | js_string }}");
    });
  </script>
{% endif %}

{% block subtitle %}
  {# I18N: Title of the webpage. #}
  - {{ gettext('Student Roster') }}
{% endblock subtitle %}

{% block assets %}
  {{ super() }}
  <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" type="text/css" href="assets/lib/lessons/tipped.css" />
  <script src="assets/lib/lessons/tipped.js"></script>
<!--  BUG?  Why can't I load these from resources directory. ??????  -->
<!--   <link rel="stylesheet" type="text/css" href="{{resources_path}}/css/tipped.css" /> -->
<!--   <script src="{{resources_path}}/js/tipped.js"></script> -->
  <script>
    // Script for adding hovers to some elements on the page.
    $(document).ready(function() {
      Tipped.create('.help', function(element) {
    var help = $(element).data('id');
    return documentation[help];
        }, {
          cache: false,
            position: 'topleft'
            });
    });
  
    var documentation = { 
      "quiz" : "Quiz scores gives the ratio of the number of correct quiz answers over the total number of quizzes in the lesson.",
      "lesson" : "Lesson progress is the percentage of quizzes <b>attempted</b>, not the percentage of quizzes correct.",
      "unit": "Unit progress is the percentage of lessons completed in that unit. Lessons that do not contain quizzes are considered complete when visited.",
      "add/remove": "This button will let you add or remove students from your course.",
      "dashboard": "The dashboard provides a detailed breakdown of a student's progress and performance.",
    };
  </script>
{% endblock %}

{% block top_content %}
{% endblock %}

{% block main_content %}
{{ main_content }}
{% if not disabled %}
<div id="gcb-main">
  <div class="gcb-article tab-content">
    <div class="gcb-aside">
      {% if section %}
       <h2>Student Roster for Course {{ section.name }}</h2>
       <table>
        <tbody>
         <tr>
          <td style="width:40%">
           <b>Teacher:  {{ section.teacher }} </b>
           <br /><b>Description: {{ section.description }}</b>
          </td>
          <td>
            You can manage student enrollment here, as well as view a summary of each student's progress at the course, unit, and lesson level. 
            Click here for <a target="_blank" href="https://docs.google.com/document/d/1XKGfVl_tQDGF0JPQFKh-PKiVKkn5Qu3LOZEJEzpjoaY">instructions and documentation</a>.
          </td>
         </tr>
        </tbody>
       </table>
      <hr>

        <table id="buttons-table"> 
         <tr>
          <td>
            <span class="hover help yui-wk-div" data-id="add/remove">
              <a href="teacher?action=edit_section&key={{ section.key }}" class="gcb-list__icon gcb-list__iconrowhover material-icons">
                 <button class="gcb-button" type="submit">Add / Remove Students</button>
              </a>
            </span>
          </td>
          <td>
           <b>Unit: </b> {% if units %} We have units {% endif %} 
          </td>
          <td>
           <b>Lessons: </b> {% if lessons %} We have lessons {% endif %} 
          </td>
         </tr>
        </table>

        {% if students %}
        <div class="gcb-list gcb-list--autostripe xsrf-token-holder"
             data-status-xsrf-token-teacher-dashboard="{{ status_xsrf_token }}">
         <h2>Students</h2>
         <table>
          <thead>
           <tr>
            <th class="gcb-list__cell--icon"></th>
            <th class="gcb-list__cell--icon">Name</th>
            <th class="gcb-list__cell--icon">Email</th>
            <th class="gcb-list__cell--icon"><span class="hover help yui-wk-div" data-id="unit">Course or Unit Progress</span></th>
            <th class="gcb-list__cell--icon"><span class="hover help yui-wk-div" data-id="lesson">Lesson Progress</span></th>
            <th class="gcb-list__cell--icon"><span class="hover help yui-wk-div" data-id="quiz">Quiz Scores</span></th>
           </tr>
          </thead>
          <tbody>
          {% for student in students %}
            <tr>
             <td>
                <form id='view-dashboard-button' action='edit_sections?action=add_section'  method='GET'>
                  <input type="hidden" name="action" value="add_section">
                  <span class="hover help yui-wk-div" data-id="dashboard">
                    <button class="gcb-button" type="submit">View Dashboard</button>
                  </span>
              </form>
               </td>
             <td>
                {{ student['name'] }}
             </td>
             <td>
                {{ student['email'] }}
             </td>
             <td>
                {{ student['course_progress'] }}
             </td>
             <td>
                {{ student['course_progress'] }}
             </td> 
             <td>
                Quiz: {{ student['quiz_score'] }}
             </td> 
            </tr>
          {% endfor %}
          </tbody>
         </table>
        {% else %}
           {# I18N: Shown if the list of students is empty. #}
           <p>{{ gettext('Currently, you do not have any students in this section.') }}</p>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>
{% else %}
{# I18N: Shown if the user is not a registered teacher. #}
<p>Only registered teachers have access to the Teacher Dashboard.
<br />Please contact an admin.
</p>
{% endif %}
{% endblock %}
