<h2>Sections</h2>
<h4> Hello from {{ralph}} at namespace= {{namespace}} </h4>
				   
<!-- <script type="text/javascript" src="/modules/teacher/resources/js/popup.js"></script> -->
<script>
  (function() {
    window.course_namespace = '{{ namespace }}';
    var msg = '{{ ralph }}';
    var testSection = new TestSection();
    var val = testSection.get();

    document.write("<h4>Value = " + val + "</h4>");


    cbShowMsg('Loading...' + msg + ' ' + val );
  })();
</script>

<div id="sections-container"></div>
